.wrapper {
    width: 800px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #485461;
}

.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button:hover {
    background-color: rgb(236, 236, 236);
}